/* Global Styles */

@media(min-width:768px) {
    body {
        /*margin-top: 50px;*/
        font-family: 'Poppins', 'Prompt';
    }
}
body {
    font-family: 'Poppins', 'Prompt';
    /* overflow-y: hidden; */
}
h1, h2, h3, h4, h5, h6 {
    margin: 10px 0;
    color: #555;
    letter-spacing: 1px;
}
b, strong {
    font-weight: 600;
}
table{
  font-family: 'Poppins', 'Prompt';
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #E4EECB;
}

.map {
    height: 100vh;
    width: 100%;
}

.form-control {
    display: block;
    width: 100%;
    height: 25px;
    padding: 6px 12px;
    font-size: 10px;
    line-height: 1.42857143;
    color: #666;
    background-color: #fff;
    background-image: none;
    border: 1px solid #99B2C4;
    border-radius: 15px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}


.leaflet-container.crosshair-cursor-enabled {
    cursor: pointer;
}

.leaflet-control-layers-expanded.leaflet-control-layers-minimap {
    width: 240px;
    background: rgba(255, 255, 255, 0.85);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

    padding: 0;
    border: 4px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    overflow-x: hidden;
}
.leaflet-minimap-container {
    margin-bottom: 2px;
    position: relative;
    display: block;
    height: 110px;
}
.leaflet-minimap-container .leaflet-minimap-label {
    position: absolute;
    display: block;

    height: 22px;
    bottom: 0;
    left: 0;
    padding: 2px 6px 2px 2px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    white-space: nowrap;
    z-index: 1000;
}
.leaflet-minimap-container .leaflet-minimap-label .leaflet-control-layers-selector {
    top: 3px;
}
.leaflet-minimap {
    width: 100%;
    height: 100%;
}
.leaflet-minimap-container.leaflet-minimap-hidden {
    display: none;
}
.leaflet-popup-content {
    margin: 13px 19px;
    line-height: 1.4;
}
.leaflet-popup-content .btn-primary {
    color: #fff;
    background-color: #F0B27A;
    border: none;
    padding: 7px;
}
.pull-margin {
    left: 25%;
}
.geometry-textbox{
    background-color: #F3F3F3;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.geometry-text{
    font-size: 12px;
    color: #333;
}

.padding-20{
    padding: 20px 20px 20px 20px;
}

.padding-element {
    padding: 10px 10px 10px 10px;
}

.padding-bottom {
    padding-bottom: 10px;
}

.full-divider-header {
    margin-left: 0;
    text-align: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    border-top: 2px solid #eee;
}

.full-divider {
    margin-left: 0;
    text-align: left;
    width: 100%;
    margin-top: 0;
    margin-bottom: 20px;
    border-top: 1px solid #eee;
}

.panel-default {
    border-color: #ddd;
}

.draw-line-icon {
    content: url(../images/draw-line-icon.png);
    width: 30px;
    font-weight: 500;
}

.footer-box{
    background-color: #fff;
    padding: 50px 50px 50px 50px;
    margin-top: 30px;
    position: relative;
    bottom: 10px;
}

.container-wrapper {
    margin-top: 0;
    margin-right: -15px;
    margin-left: -15px;
    overflow: hidden;
    top: 100px;
    position: relative;
}

.map {
    display: block;
    height: calc(100vh - 100px);
    margin-top: 0;
    /*background-color: rgb(241, 241, 241);
    background-color: rgba(241, 241, 241, 1);
    margin-top: 2em;*/
}

/* Loader */
.loading-img {
    margin-left: 50%;
    margin-top: 20%;
    color: #e9e9e9;
}

.loader {
    z-index: 1005;
    background: #e9e9e9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
}

/* Alert */
.custom-alert {
    margin-left: 30%;
    margin-right: 30%;
    width: 40%;
    position: fixed;
    z-index: 99999;
    font-size: 12px;
    margin-top: 10px;
}

.custom-alert-full {
    margin-left: 4%; /* See sidebar.css .toggle-sidebar-button.is-open */
    width: calc(100vw - 5%);
    position: fixed;
    z-index: 2;
    margin-top: 103px;
}

.display-none {
    display: none;
}

.margin-top-maintain {
    /* padding-right: 160px; */
    /* padding-left: 160px; */
    /* padding-bottom: 50px; */
    /* padding-top: 50px; */
    margin-top: 10%;
}

@media (max-width: 1024px) {
    .margin-top-maintain {
        /* padding-right: 160px; */
        /* padding-left: 160px; */
        /* padding-bottom: 50px; */
        /* padding-top: 50px; */
        margin-top: 13%;
    }
}

.maintain-padding {
    padding-bottom: 10px;
}

.border-bottom {
    border-bottom: 1px solid #ddd;
}

.main-padding {
    /*padding-right: 150px;
    padding-left: 150px;*/
    padding-right: 5% !important;
    padding-left: 5% !important;
}


.tooltpanel {
    display: block;
    position: absolute;
    left: 10px;
    top: 130px;
    width: 350px;
    margin-top: 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
    z-index: 1000;
}

.tool-box-button {
    position: absolute;
    right: 10px;
    display: inline-block;
}

#tool-box{
    padding: 6px 6px 1px 6px;
}
.tool-box-header {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    color: #FFF;
    background-color: #173F5F;
}
/***************************/
/* Chart Penel */
/***************************/

.chartpanel {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 30px;
    width: 350px;
    max-height: 450px;
    margin-top: 0;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
    z-index: 1000;
}
#chart-content{
    padding: 6px 6px 1px 6px;
}
.chart-info-button {
    position: absolute;
    right: 10px;
    display: inline-block;
}

.chartbox-header {
    font-weight: bold;
    font-size: 16px;
    padding: 5px;
    color: #FFF;
    background-color: #173F5F;
}
.slide-toggle{
    position: absolute;
    right: 15px;
    top: 125px;
    z-index: 9999;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.2);
    width: 45px;
    height: 45px;
    background: white;
    color: #666;
}
.box{
    top: 125px;
    right: 60px;
    z-index: 9999999;
    position: absolute;
    float: left;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 5px;
}
/* Add padding and border to inner content
for better animation effect */
.box-inner{
    width: 400px;
    height: 40px;
    padding: 10px;
}

/***************************/
/* Application Page Legend */
/***************************/
.legend {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 40px;
    width: 150px;
    margin-top: 0;
    padding: 6px 6px 1px 6px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
    z-index: 999;
}

.legend-text {
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 5px;
    color: white;
}

.legend-info-button {
    position: absolute;
    margin-left: 62px;
    display: inline-block;
}

.legend-tabs {
    overflow: hidden;
    background-color: #ffffff;
    padding-bottom: 8px;
}

.legend-tabs  button{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    margin-right: -3px;
    transition: 0.3s;
    font-size: 12px;
}

.legend-tabs button.active {
    border: 1px solid #ccc;
    border-bottom: none;
    font-weight: bold;
}

.legend-tab-content {
    display: none;
    padding: 0 6px;
}

.legend-value {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.legend-block {
    min-width: 25px;
    height: 20px;
    margin-right: 5px;
    border: #bbb solid 1px;
    background-color: #D3D3D3;
}

.legend-textlist {
    min-width: 60px;
    margin-right: 5px;
}

.legend-cb {
    width: 60%;
    /* height:100px; */
    margin-left:25px;
    margin-right:25px;
}

#app-navigation {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #efefef;
    padding: 0 15px;
    padding-top: 115px;
}

#app-navigation .nav {
    padding: 0;
    padding-bottom: 40px;
    height: 100%;
    overflow: auto;
}

p {
    font-size: 12px;
    display: inline-block;
}

.slider-width {
    padding-left:10px;
    width: 100%;
}
.slider-horizontal {
    width:100%;
}

#-app-content {
    align: center ;
    padding: 50px;
}
.full-width{
    width:100%;
}

.btn_custom{
    background-color:rgb(52, 73, 94);
    margin: 10px;
    text-align: center;
    color: white;
    padding: 7px 10px 7px 10px;
    border-radius: 8px;
    border-color: #07456f;
}
.btn_custom:hover {
    background:#78e08f;
    color: #07456f;
}
.center_obj{
    text-align: center;
}

.slider-handle {
  background: #2b5154;
  border: 0 solid #2b5154;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-singl {
    background-color: #a8c45d;
}
.irs--round .irs-handle {
    border: 4px solid #a8c45d;
}
.irs--round .irs-bar {
    background-color: #a8c45d;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
    border-top-color: #a8c45d;
}
.irs--round .irs-single {
    background-color: #a8c45d;
}

.slider.slider-horizontal .slider-track {
    height: 8px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.slider-handle {
    width: 15px;
    height: 15px;
}
.slider-track {
  position: absolute;
  cursor: pointer;
  background-color: #f5f5f5;
  border-radius: 0;
  border: none;
  background-image: none;
}

.slider-selection {
  position: absolute;
  background: #dedede;
  box-sizing: border-box;
  border-radius: 4px;
}
.slider-handle.round {
    border-radius: 0;
}

.zoom {
    /* background-color: green; */
    transition: transform .5s; /* Animation */
    width: auto;
    height: 22em;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.sidenav {
    width: 25%;
    height: 100%;
    position: fixed;
    overflow: auto;
    left: 0;
    background-color: #efefef;
    padding: 10px;
    z-index: 999;
    padding-bottom: 150px;
}

.sidenav a {
    text-decoration: none;
    font-size: 12px;
    color: #002244;
    display: block;
}
/* Customize the label (the container) */
.container {
    display: inline-block;
    position: relative;
    padding-left: 35px;
    margin-bottom: -2px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #07456f;
}

/* When the checkbox is checked, add a blue background */
.container:hover input:checked ~ .checkmark {
    background-color: #78e08f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.container:hover .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #07456f;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.layer-header {
    background: #686868;
    margin-bottom: 3%;
    margin-top: 3%;
}

.layer-header:hover {
    background: #a5a5a5;
}

.layer-header p {
    color: #fff;
    margin-left: 5px;
    font-size: 12px;
    /* align: right; */
    /*float:right;*/
}

.layer-header img {
    margin: 2px;
    width: 8%;
    color: #fff;
}
#controls {
    /*
    position: absolute;
    */
    /*left: 54px;*/
    /*top: 60px;*/
    /*    right:300px;
        bottom:20px;*/
    top:10px;
    z-index: 1000;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    padding: 6px;
    clear: left;
    max-width:100%;
    width:250px;
    text-align: center;
}
#controls button {
    border-radius: 5px;
    background-color: #2b5154;
    color: white;
    border: none;
    line-height: 1.5;
}
#date {
    width: 6em;
    font-size:12px;
}
#transparent-container {
    margin-top: 4px;
}

.ui-widget {
    font-size: 0.8em;
    z-index: 9999;
}

.ui-widget-header{
    border: 1px solid #aaaaaa;
    background: #0f0a3c;
    color: #FFF;
    font-weight: bold;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
    background-color: #ddd;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
    background-color: #ddd;
}

.map-panel__sidebar {
    position: absolute;
    left: 15px;
    top: 50px;
    background-color: #fff;
    width: 380px;
    max-height: calc(100vh - 90px);
}

.map-panel__area {
    padding: 0;
    display: flex;
    flex-direction: column;
    z-index: 999;
    box-shadow: 0 5px 25px 0 rgba(214, 215, 216, 0.6);
}

.map-panel__header {
    display: flex;
    justify-content: space-between;
}

.map-panel__tabs {
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: #a8c45d;
}

.map-panel__tabs--item.active {
    background-color: #2b5154;
}

.map-panel__tabs--item {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 5px;
    text-align: center;
    background-color: #a8c45d;
    color: #fff;
}

.map-panel__tabs--item svg {
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.map-panel__content {
    background: #ffffffd1;
    max-height: 55vh;
    overflow: auto;
    padding: 15px;
}
.tab-content p{
    font-size: 10px;
    color: #666;
    font-weight: 300;
    letter-spacing: .5px;
    margin: 0 0 2px;
}
.map-panel__tabs a{
    text-decoration: none;
}

.trigger {
    font-size: 28px;
    padding: 4px 0;
    border: none;
    outline: none;
    color: #7f8184;
    background: transparent !important;
    box-shadow: none;
}

.map-panel__sidebar .trigger {
    font-size: 2rem;
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    content: "";
}
.map-panel__toggle {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 3vh;
    right: 10px;
    z-index: 999;
}

.map-panel__toggle--panel--legendbox {
    overflow: auto;
    background-color: #333;
    padding: 10px;
    width: 250px;
    color: #FFF;
}


.map-panel__toggle--panel {
    overflow: auto;
    background-color: #fff;
    padding: 10px;
    width: auto;
    max-width: 200px;
}

.map-panel__toggle .map-panel__tabs {
    background-color: #fff;
    flex-direction: column;
    margin: 0 0 0 10px;
}

.map-panel__tabs--item {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
    padding: 5px;
    text-align: center;
    background-color: #a8c45d;
    color: #fff;
}
.map-panel__tabs--item svg {
    display: block;
    margin: 0 auto;
    font-size: 16px;
}

.map-panel__tabs--item svg, .map-panel__tabs--item i {
    pointer-events: none;
}

.map-panel__tabs--item:hover {
    cursor: pointer;
    background-color: #2b5154;
    transition: .2s;
}

.map-panel__tabs--item.active {
    background-color: #2b5154;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.toggles-list .toggle {
    display: flex;
    align-items: center;
}
.react-toggle {
    touch-action: pan-x;
    display: inline-block;
    position: relative;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
}
.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    border-radius: 30px;
    background-color: #4D4D4D;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.react-toggle-track-check {
    position: absolute;
    width: 14px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    left: 8px;
    opacity: 0;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}

.react-toggle-track-x {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    line-height: 0;
    right: 10px;
    opacity: 1;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
}
.custom-toggle .react-toggle-track {
    width: 42px;
    height: 18px;
    border: 1px solid #bbb;
    background-color: #bbb;
}
.react-toggle-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 22px;
    height: 22px;
    border: 1px solid #4D4D4D;
    border-radius: 50%;
    background-color: #FAFAFA;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.25s ease;
}

.custom-toggle .react-toggle-thumb {
    width: 16px;
    height: 16px;
    border: 1px solid #bbb;
}

.custom-toggle.react-toggle--checked .react-toggle-thumb {
    left: 25px;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19AB27;
}

input[type="checkbox"], input[type="radio"] {
    display: inline;
}

.react-toggle-screenreader-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.toggles-list .toggle label {
    margin-left: 11px;
}
.map-panel__toggle label {
    font-size: 9px;
    font-weight: 200;
    color:#666 ;
}
a.leaflet-control-timecontrol.timecontrol-backward {
    background-color: #2b5154;
    color: #FFF;
}
a.leaflet-control-timecontrol.timecontrol-forward {
    background-color: #2b5154;
    color: #FFF;
}
a.leaflet-control-timecontrol.timecontrol-play {
    background-color: #2b5154;
    color: #FFF;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
    border: 2px solid rgba(43, 81, 84, 0.4);
    background-clip: padding-box;
}


.switch_layer {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 12px;
}

.switch_layer input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider_toggle {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bbb;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider_toggle:before {
  position: absolute;
  content: "";
  height: 10px;
  width: 10px;
  left: 2px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider_toggle {
  background-color: #a8c45d;
}

input:focus + .slider_toggle {
  box-shadow: 0 0 1px #a8c45d;
}

input:checked + .slider_toggle:before {
  -webkit-transform: translateX(11px);
  -ms-transform: translateX(11px);
  transform: translateX(11px);
}

/* Rounded sliders */
.slider_toggle.round {
  border-radius: 34px;
}

.slider_toggle.round:before {
  border-radius: 50%;
}

/***************************/
/* Application Page Legend */
/***************************/
.legend {
    display: block;
    position: absolute;
    right: 15px;
    bottom: 40px;
    width: 150px;
    margin-top: 0;
    padding: 6px 6px 1px 6px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 5px gray;
    z-index: 1000;
}

.legend-text {
    font-weight: bold;
    margin-left: 3px;
    margin-bottom: 5px;
}

.legend-info-button {
    position: absolute;
    margin-left: 40px;
    display: inline-block;
}

.legend-tabs {
    overflow: hidden;
    background-color: #333;
    padding-bottom: 8px;
    color: #FFF;
}

.legend-tabs  button{
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;
    padding: 10px 12px;
    margin-right: -3px;
    transition: 0.3s;
    font-size: 12px;
}

.legend-tabs button.active {
    border: 1px solid #ccc;
    border-bottom: none;
    font-weight: bold;
}

.legend-tab-content {
    display: none;
    padding: 0 6px;
}

.legend-value {
    font-size: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.legend-block {
    min-width: 25px;
    height: 20px;
    margin-right: 5px;
    border: #bbb solid 1px;
    background-color: #D3D3D3;
}

.legend-textlist {
    min-width: 60px;
    margin-right: 5px;
}
