
.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.toggle-slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .toggle-slider {
  background-color: #34495e ;
}

input:focus + .toggle-slider {
  box-shadow: 0 0 1px #34495e ;
}

input:checked + .toggle-slider:before {
  -webkit-transform: translateX(10px);
  -ms-transform: translateX(10px);
  transform: translateX(10px);
}

/* Rounded toggle-sliders */
.toggle-slider.round {
  border-radius: 34px;
}

.toggle-slider.round:before {
  border-radius: 50%;
}

.toggle-legend .form-group {
    margin-bottom: 0;
}

.color-picker-wrapper {
  min-width: 25px;
	height: 20px;
  margin-right: 5px;
}

input[type=color]{
	width: 26px;
	height: 21px;
	border: none;
	background: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none; /*change color of the swatch border here*/
	border-radius: 0;
}

.toggle-nav{
    opacity:1.0;
}

.toggle-nav:hover {
    background: #78e08f;
}

.toggle-nav:hover div {
    background: #34495e;
}

p {
    font-size: 14px;
    color: #666;
    font-weight: 400;
    letter-spacing: .5px;
}
.form-control{
    margin-bottom: 15px;;
}
.leaflet-top .leaflet-control {
    margin-top: 3px;
}
.leaflet-touch .leaflet-control-layers-toggle {
    width: 32px;
    height: 32px;
}

.tooltip-inner {
    background-color: #a8c45d;
}

.tooltip.top .tooltip-arrow {
    border-top-color: #a8c45d;
}

.map-modal {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 1rem;
    box-shadow: 1px 1px 2px rgba(127,129,132,0.4);
    border-radius: 2px;
    background: #fff;
    padding: 1rem;
    z-index: 9999;
    max-height: 80%;
}
.map-modal--vertical-smaller {
    bottom: auto;
    margin: 1rem;
}

.map-modal--horizontal-smaller {
    margin: 13rem auto;
    width: 50%;
}

.map-modal__header {
    display: flex;
    border-bottom: 2px solid #a8c45d;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}
.map-modal__content {
    height: 100%;
    overflow: auto;
    padding: 0.25rem;
    scroll-y: auto;
}
.map-modal__content hr{
    border-top: 2px dotted #a8c45d;
}
.map-modal__content label{
    font-weight: 500;
}
.map-modal__content .form-control{
    margin-bottom: 10px;
}
.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    z-index: 99999;
    vertical-align: middle;
}
.map-modal__content .select2-container{
    margin-bottom: 10px;
    font-size: 12px;
}
.map-modal__buttons {
    display: flex;
    justify-content: flex-end;
    margin-top: 0.5rem;
}
.map-modal__buttons button{
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    margin-left: 5px;
    color: #FFF;
}
.map-modal__buttons #btn-close-compare{
    background-color: #F0B27A;
}
.map-modal__buttons #btn-add-compare{
    background-color: #a8c45d;
}
.download-label{
    margin-top: 10px;
    margin-left: 5px;
}
.btn-download{
    background-color: #a8c45d;
    font-size: 14px;
    padding: 5px 5px 0 6px;
    color: #FFF;
    margin-top: 10px;
    margin-left: 10px;
}
.btn-download:hover{
    background-color: #F0B27A;
    color: #753636;
}

.map-modal__title {
    flex: 1;
    text-align: center;
    margin: 5px;
    font-weight: 800;
}
