
# python compile files
# ===========
*.pyc
credentials/
static/*
# Setting and config files
air-quality-explorer/settings.py
air-quality-explorer/static/data/active_fire/*
mapclient/config.py
# Unused templates
# ======================

# Vendor files
# ======================
air-quality-explorer/static/vendor/*
air-quality-explorer/static/dist/*
air-quality-explorer/static/aq_dir/*

# Exception to the rule
!air-quality-explorer/static/dist/README.md

# Node and related environment
# ======================
.npmignore
node_modules/
_pycache_/
