
<div id="compare-modal" class="model map-modal map-modal--vertical-smaller map-modal--horizontal-smaller" tabindex="-1" role="dialog"  style="display: none;">
    <div class="map-modal__header">
        <h3 class="map-modal__title">[[ 'Compare Layers' | translate]]</h3>
    </div>
    <div class="map-modal__content">
            <h4>[[ 'Left Window Options' | translate]]</h4>
            <label>
                [[ 'Select Parameter' | translate]]
            </label>
            <select  class="form-control" name="lrun_table" id="lrun_table" style="width: 100%"></select>
            <label>
                [[ 'Select Run Date' | translate]]
            </label>
            <select  class="form-control" name="lrd_table" id="lrd_table" style="width: 100%"></select>
            <br>
            <label>
                [[ 'Select Variable' | translate]]
            </label>
            <select  class="form-control" name="lvar_table" id="lvar_table" style="width: 100%">

            </select>

            <label for="range-min" class="formText">[[ 'Range Min' | translate]]</label>
            <input type="text" class="form-control" id="lrange-min" name="lrange-min" style="width: 100%">

            <label for="range-max" class="formText">[[ 'Range Max' | translate]]</label>
            <input type="text" class="form-control" id="lrange-max" name="lrange-max" style="width: 100%">

            <label>
                [[ 'Select a style' | translate]]
            </label>
            <select  class="form-control" name="lstyle_table" id="lstyle_table" style="width: 100%"></select>
            <hr>
            <h4>[[ 'Right Window Options' | translate]]</h4>
            <label>
                [[ 'Select Parameter' | translate]]
            </label>
            <select   class="form-control" name="rrun_table" id="rrun_table" style="width: 100%">

            </select>
            <label>
                [[ 'Select Run Date' | translate]]
            </label>
            <select   class="form-control" name="rrd_table" id="rrd_table" style="width: 100%">

            </select>
            <br>
            <label>
                [[ 'Select Variable' | translate]]
            </label>
            <select   class="form-control" name="rvar_table" id="rvar_table" style="width: 100%"></select>

            <label for="range-min" class="formText">[[ 'Range Min' | translate]]</label>
            <input type="text" class="form-control" id="rrange-min" name="rrange-min" style="width: 100%">

            <label for="range-max" class="formText">[[ 'Range Max' | translate]]</label>
            <input type="text" class="form-control" id="rrange-max" name="rrange-max" style="width: 100%">

            <label>
                [[ 'Select a style' | translate]]
            </label>
            <select   class="form-control" name="rstyle_table" id="rstyle_table" style="width: 100%"></select>

            <hr>


    </div>
    <div class="map-modal__buttons">
        <div>
            <button type="button" class="btn" id="btn-close-compare">[[ 'Close' | translate]]</button>
        </div>
        <div>
            <button type="button" class="btn" id="btn-add-compare">[[ 'Add Layers' | translate]]</button>
        </div>
    </div>
</div>
