
<div id="disclaimer-modal" class="model map-modal map-modal--vertical-smaller map-modal--horizontal-smaller" tabindex="-1" role="dialog"  style="display: none;">
    <div class="map-modal__header">

        <h3 class="map-modal__title">[[ 'Disclaimer' | translate]]</h3>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    </div>
    <div class="map-modal__content">
        <p style="text-align:justify;">SERVIR-Mekong, NASA, USAID and ADPC make no express or implied warranty of this data as to the merchantability or fitness for a particular purpose.
          SERVIR-Mekong, NASA, USAID and ADPC make no express or implied warranty as to the accuracy of the map or as to the merchantability or fitness for a particular purpose of the data. Neither the US Government nor its contractors shall be liable for special,
          consequential or incidental damages attributed to this data.</p>
    </div>

</div>
