{% load cms_tags staticfiles %}
<div id="fire_content_tab" class="tab-pane fade">
    <div class="hidden">
        <label>
            Select Frequency
        </label>
        <select  class="freq_table" name="fire_freq_table" id="fire_freq_table" style="width: 100%">

        </select>
        <br>
        <label>
            Select Run Date
        </label>
        <select  class="rd_table" name="fire_rd_table" id="fire_rd_table" style="width: 100%">

        </select>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-6">
        <p><b>[[ 'Select Variable' | translate]]</b></p>
        <select class="form-control" name="fire_var_table" id="fire_var_table"></select>
      </div>
      <div class="col-lg-6 col-md-6">
        <p><b>[[ 'Range Min' | translate]]</b></p>
        <input  type="text" class="form-control" id="fire_range-min" name="fire_range-min">
      </div>

      <div class="col-lg-6 col-md-6">
        <p><b>[[ 'Range Max' | translate]]</b></p>
        <input  type="text" class="form-control" id="fire_range-max" name="fire_range-max">
      </div>

      <div class="col-lg-6 col-md-6">
        <p><b>[[ 'Select Style' | translate]]</b></p>
        <select class="form-control" name="fire_style_table" id="fire_style_table" style="width: 100%"></select>
      </div>
      <div class="col-lg-6 col-md-6">
        <div id="opacity_fire" class="slider-width">
            <p> [[ 'Opacity' | translate]]: <span id="OpacityVal"></span></p>
            <input id="opacity-slider" type="text" style="width: 90%;left: 60px;"/>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-6">
        <p><b>[[ 'Show Data for' | translate]]</b></p>
        <select class="form-control hidden" name="date_table" id="date_table" style="width: 100%"></select>
          <div class="form-group">
            <input class = "form-control" id="date_selector_fire"
            name="date_selector_fire"
            type="text"
            orientation="bottom"
            data-date-autoclose="true"
            data-date-format="yyyy-mm"
            data-date-min-view-mode="months"
            data-date-multidate="1"
            data-date-start-view="decade"
            data-date-today-btn="false"></input>
          </div>
      </div>
    </div>

</div>
