{% load cms_tags staticfiles %}
<div id="GEOS_content_tab" class="tab-pane fade  in active">


    <div class="hidden">
      <p><b>[[ 'Select Parameter' | translate]]</b></p>
      <select name="geos_run_table" id="geos_run_table" class="form-control">
      </select>

        <label>
            Select Frequency
        </label>
        <select  class="freq_table" name="geos_freq_table" id="geos_freq_table" style="width: 100%">

        </select>
        <br>
        <label>
            Select Run Date
        </label>
        <select  class="rd_table" name="geos_rd_table" id="geos_rd_table" style="width: 100%">

        </select>
    </div>

    <p><b>[[ 'Select Variable' | translate]]</b></p>
    <select class="form-control" name="geos_var_table" id="geos_var_table">

    </select>
   <div style="display:flex;flex-direction:row;justify-content: space-around;">
       <div style="display:flex;flex-direction:column;width:50%;">
           <p><b>[[ 'Range Min' | translate]]</b></p>
            <input  type="text" class="form-control" id="geos_range-min" name="geos_range-min">
       </div>
       <div style="display:flex;flex-direction:column;width:50%;">
           <p><b>[[ 'Range Max' | translate]]</b></p>
           <input  type="text" class="form-control" id="geos_range-max" name="geos_range-max">
       </div>
   </div>
   <div style="display:flex;flex-direction:row;justify-content: space-around;">
       <div style="display:flex;flex-direction:column;width:100%; ">
            <p><b>[[ 'Select Style' | translate]]</b></p>
            <select class="form-control" name="geos_style_table" id="geos_style_table" style="width: 100%"></select>
       </div>
       <div id="opacity_geos" class="slider-width" style="display:flex;flex-direction:column;">
            <p> [[ 'Opacity' | translate]]: <span id="OpacityVal3"></span></p>
            <input id="opacity-slider-geos" type="text" style="width: 90%;left: 60px;"/>
       </div>
   </div>
  <div  style="display:flex;flex-direction:row;">
      <div style="display:flex;flex-direction:column;width: 80%">
          <p><b>[[ 'Forecast Initialization Date' | translate]]</b></p>
          <select class="form-control hidden" name="date_table" id="date_table" style="width: 100%"></select>
            <div class="form-group" style="margin-bottom: 0px;">
              <input class = "form-control" id="date_selector"
              name="date_selector"
              type="text"
              orientation="bottom left"
              data-date-autoclose="true"
              data-date-format="yyyy-mm-dd"
              data-date-min-view-mode="days"
              data-date-multidate="1"
              data-date-start-view="decade"
              data-date-today-btn="false"></input>
            </div>
      </div>
  </div>

  <div  style="display:flex;flex-direction:row;">
      <div style="display:flex;flex-direction:column;width: 80%;padding-left: 5px">
          <p><b>[[ 'Forecasted date' | translate]]</b></p>
          <select  class="form-control"  name="hour_table" id="hour_table" style="width: 100%">

          </select>
      </div>
  </div>
   <p id="info"></p>
       <p> [[ 'Note: Date and time are in local Indochina Time(ICT)' | translate]]</p>

   <br>
</div>
