{% load cms_tags staticfiles %}
<div id="toggle_layer_box" class="map-panel__toggle--panel" style="display: block;">
    <p>Toggle layer visibility</p>
    <ul class="toggles-list">
        <li class="toggle">
            <label class="switch_layer">
              <input id="btn_toggle_fire" type="checkbox" checked>
              <span class="slider_toggle round"></span>
            </label>
            <label>Fire Locations</label>
        </li>
        <li class="toggle">
            <label class="switch_layer">
              <input id="btn_toggle_aod" type="checkbox" checked>
              <span class="slider_toggle round"></span>
            </label>
            <label>Aerosol Optical Depth</label>
        </li>
        <li class="toggle">
            <label class="switch_layer">
              <input id="btn_toggle_geos" type="checkbox" checked>
              <span class="slider_toggle round"></span>
            </label>
            <label>GEOS Data</label>
        </li>
    </ul>
</div>
<div id="download_box" class="map-panel__toggle--panel" style="display: none;">
    <p>Download the netCDF file(s)</p>
    <ul class="toggles-list">
        <li>
            <button type="button" class="btn btn-download" id="btn-download-fire">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <g id="file-download">
                            <path d="M395.25,153h-102V0h-153v153h-102l178.5,178.5L395.25,153z M38.25,382.5v51h357v-51H38.25z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <label class="download-label">Fire Locations</label>
        </li>
        <li>
            <button type="button" class="btn btn-download" id="btn-download-aod">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <g id="file-download">
                            <path d="M395.25,153h-102V0h-153v153h-102l178.5,178.5L395.25,153z M38.25,382.5v51h357v-51H38.25z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <label class="download-label">Aerosol Optical Depth</label>
        </li>
        <li>
            <button type="button" class="btn btn-download" id="btn-download-geos">
                <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em"  xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g>
                        <g id="file-download">
                            <path d="M395.25,153h-102V0h-153v153h-102l178.5,178.5L395.25,153z M38.25,382.5v51h357v-51H38.25z"/>
                        </g>
                    </g>
                </svg>
            </button>
            <label class="download-label">GEOS Data</label>
        </li>
    </ul>

</div>
<div id="imagery_layer_box" class="map-panel__toggle--panel" style="display: none;">
    <p>True Color Imagery</p>

</div>
<div id="legend_box" class="map-panel__toggle--panel--legendbox" style="display: none; width:180px;">
    <div class="legend-tabs">
        <button class="legend-tab" id="tab-fire">[[ 'Fire' | translate]]</button>
        <button class="legend-tab" id="tab-aod">[[ 'AOD' | translate]]</button>
        <button class="legend-tab" id="tab-geos">[[ 'GEOS' | translate]]</button>
    </div>
    <div class="legend-line"></div>
    <div id='legend-content'>
        <div id="legend-tab-fire" class="legend-tab-content">
            <img class="legend-cb" id="img-legend-fire" src="{% static 'images/precip_colorbar.png' %}" alt="AOD Colorbar">
        </div>
        <div id="legend-tab-aod" class="legend-tab-content">
            <img class="legend-cb" id="img-legend-aod" src="{% static 'images/precip_colorbar.png' %}" alt="AOD Colorbar">
        </div>
        <div id="legend-tab-geos" class="legend-tab-content">
            <img class="legend-cb" id="img-legend-geos" src="{% static 'images/precip_colorbar.png' %}" alt="GEOS Colorbar">
        </div>
    </div>
</div>
