{% load static i18n %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html lang="[[ lang ]]">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=1024">
	<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">-->
	<meta name="description" content="Air Quality Explorer">
	<meta name="author" content="SERVIR MEKONG">
	<meta name="keywords" content="Air, Air Quality, Air Explorer, SERVIR MEKONG, Mekong region">
	<title>Air Quality Explorer</title>
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">

	<style type="text/css">
	/** Hide when Angular is not yet loaded and initialized */
	[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
		display: none !important;
	}
	</style>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_ID }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());

		gtag('config', '{{ GOOGLE_ANALYTICS_ID }}');
	</script>
	{% addtoblock "css" %}
	<!-- Bootstrap Core CSS -->
	<link href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/css/bootstrap2/bootstrap-switch.css" rel="stylesheet">
	<!-- Bootstrap Plugins -->
	<link rel="stylesheet" href="{% static 'vendor/bootstrap/dist/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}" >
	<!-- FontAwesome -->
	<link href="{% static 'vendor/components-font-awesome/css/all.css' %}" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/css/bootstrap-slider.min.css" rel="stylesheet"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" />

	<!-- Google Font Style -->
	<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=KoHo&family=Prompt:ital,wght@0,300;1,300&display=swap" rel="stylesheet">

	<!-- lEAFLET -->
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" />
	<link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />
	<!-- <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.css" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
	<link rel="stylesheet" href="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.control.min.css" />
	<link rel="stylesheet" href="{% static 'app/services/Leaflet.extra-markers/dist/css/leaflet.extra-markers.min.css'  %}"></link>

	<!--Plugin CSS file with desired skin-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/css/ion.rangeSlider.min.css"/>
	<!-- Normalize CSS -->
	<link href="{% static 'vendor/normalize-css/normalize.css' %}" rel="stylesheet">
	<!-- ng-Dialog -->
	<link href="{% static 'vendor/ng-dialog/css/ngDialog.min.css' %}" rel="stylesheet">
	<link href="{% static 'vendor/ng-dialog/css/ngDialog-theme-default.min.css' %}" rel="stylesheet">
	<!-- noui slider -->
	<link href="{% static 'vendor/nouislider/distribute/nouislider.min.css' %}" rel="stylesheet">
	<!-- Load CSS -->
	<!-- Custom CSS -->

	<link href="{% static 'css/main.css' %}" rel="stylesheet">
	<link href="{% static 'css/map.css' %}" rel="stylesheet">
	<link href="{% static 'css/navigation.css' %}" rel="stylesheet">
	<link href="{% static 'css/footer.css' %}" rel="stylesheet">


	{% block extra_css %}{% endblock %}

	{% endaddtoblock %}

	{% render_block "css" %}

</head>
<body>

	<div ng-cloak class="container-fluid">
		{% cms_toolbar %}
		<!-- CMS Menu -->
{#		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">#}
{#			<ul class="nav navbar-nav navbar-right">#}
{#				{% show_menu 0 100 100 100 %}#}
{#			</ul>#}
{#		</div>#}
		{% include "navigation.html" %}
		<div class="container-fluid container-wrapper">
			{% block main_container %} {% endblock main_container %}
		</div>
	</div>


	{% addtoblock "js" %}

	<!-- Load JS Lib -->
	<!-- jQuery -->
	<script src="{% static 'vendor/jquery/dist/jquery.min.js' %}"></script>
	<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<!-- Bootstrap Plugins -->
	<script src="{% static 'vendor/bootstrap/dist/js/bootstrap.min.js'  %}"></script>
	<!-- Bootstrap Plugins -->
	<script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCaqvIckPRhmI3hwyG_XR3Fi-y_6mWexM&v=3.exp&libraries=drawing,geometry"></script>
	<!--  Load Angular  -->
	<script src="{% static 'vendor/angular/angular.min.js' %}"></script>
	<!-- Angular Dependent Library -->
	<script src="{% static 'vendor/angularjs-slider/dist/rzslider.min.js' %}"></script>
	<!--Angular Dialogue -->
	<script src="{% static 'vendor/ng-dialog/js/ngDialog.min.js' %}"></script>
	<!--Angular Strap -->
	<script src="{% static 'vendor/angular-strap/dist/angular-strap.min.js' %}"></script>
	<script src="{% static 'vendor/angular-strap/dist/angular-strap.tpl.min.js' %}"></script>
	<script src="{% static 'vendor/angular-file-saver/dist/angular-file-saver.bundle.min.js' %}"></script>
	<script src="{% static 'vendor/angular-spinner/dist/angular-spinner.min.js' %}"></script>
	<script src="{% static 'vendor/moment/min/moment.min.js'  %}"></script>
	<script src="{% static 'vendor/nouislider/distribute/nouislider.min.js'  %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-switch/3.3.4/js/bootstrap-switch.js"></script>
	<script src="{% static 'vendor/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js'  %}"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.0/js/ion.rangeSlider.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.2/bootstrap-slider.min.js" type="text/javascript"></script>
	<!-- lEAFLET -->
	<script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/nezasa/iso8601-js-period/master/iso8601.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.2/leaflet.draw-src.js"></script>
	<script type="text/javascript" src="https://cdn.rawgit.com/socib/Leaflet.TimeDimension/master/dist/leaflet.timedimension.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/highcharts-more.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<script src="https://highcharts.github.io/export-csv/export-csv.js"></script>
	<script src="https://code.highcharts.com/modules/no-data-to-display.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/1.3.4/chroma.min.js"></script>

	<script src="{% static 'vendor/zingchart/zingchart.min.js' %}" type="text/javascript"></script>
	<script src="{% static 'app/services/Leaflet.extra-markers/dist/js/leaflet.extra-markers.js'  %}"></script>
	<script src="{% static 'app/services/L.KML.js'  %}"></script>
	<script src="{% static 'vendor/esri-leaflet/dist/esri-leaflet.js'  %}"></script>

	<!-- Angular Translation -->
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.2/angular.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/angular-translate/2.18.1/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>

	<!-- Bootstrap Application -->
	<script src="{% static 'app/init.js' %}"></script>
	<!-- Load Settings -->
	<script src="{% static 'app/config/settings.js' %}"></script>
	<!-- Services -->
	<script src="{% static 'app/services/jquery.mtz.monthpicker.js' %}"></script>
	<!-- <script src="{% static 'app/services/dateformat.js' %}"></script> -->
	<script src="{% static 'app/services/L.Map.Sync.js' %}"></script>
	<script src="{% static 'app/services/leaflet-clonelayer.js' %}"></script>
	<script src="{% static 'app/services/L.Control.Layers.Minimap.js' %}"></script>
	<script src="{% static 'app/services/leaflet.wms.js' %}"></script>
	<script src="{% static 'app/services/leaflet-side-by-side.min.js' %}"></script>
	<script src="{% static 'app/services/shp.min.js' %}"></script>
	<script src="{% static 'app/services/leaflet.shpfile.js' %}"></script>
	<script src="{% static 'app/services/leaflet.draw-shapefile.js' %}"></script>
	<script src="{% static 'app/services/leaflet.browser.print.min.js' %}"></script>
	<script src="{% static 'app/services/map.js' %}"></script>

	<!-- Controllers -->

	<script src="{% static 'app/controllers/settings.js' %}"></script>
	<script src="{% static 'app/controllers/map.js' %}"></script>
	<script src="{% static 'app/controllers/pm25map.js' %}"></script>



	{% block extra_script %}{% endblock %}

	{% endaddtoblock %}


	{% render_block "js" %}

</body>
</html>
